﻿@section scripts{
    @Scripts.Render("~/bundles/AppKnockOut")
}

<div class="container">
   <h2>Agenda</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#ContactoTab" class="h4">Contacto</a></li>
        <li><a data-toggle="tab" href="#CategoriaTab" class="h4">Categorias</a></li>
    </ul>
    <div class="tab-content">
        <div id="ContactoTab" class="tab-pane fade in active">
            <div class="page-header">
                <h2>Contacto</h2>
            </div>
            <div class="row">
                <div class="col-lg-10">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <h3 class="panel-title">Aca se mostraran las categorias</h3>
                       </div>
                       <div class="panel-body">
                           <table class="table table-bordered table-hover table-responsive">
                               <thead>
                                   <tr>
                                       <th>#</th>
                                       <th>Nombre</th>
                                       <th>Numero</th>
                                       <th>Direccion</th>
                                       <th>Correo</th>
                                       <th>Categoria</th>
                                       <th>Opciones</th>
                                   </tr>
                               </thead>
                               <tbody data-bind="foreach: contactos">
                                   <tr>
                                       <td data-bind="text: ContactoId"></td>
                                       <td data-bind="text: Nombre">Nombre</td>
                                       <td data-bind="text: Numero">Numero</td>
                                       <td data-bind="text: Direccion">Direccion</td>
                                       <td data-bind="text: Correo">Correo</td>
                                       <td data-bind="text: Categoria.Nombre">Categoria</td>
                                       <td><button class="btn btn-info"  data-bind="click: cargarContacto">Editar</button><button data-bind="click: eliminarContacto" class="btn btn-warning">Borrar</button></td>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
                    <div class="panel panel-success" data-bind="ifnot: contactoCargado">
                        <div class="panel-heading">
                            <h2 class="panel-title">Agregar</h2>
                        </div>
                        <div class="panel-body">
                            <form class="form-group" data-bind="submit: agregarContacto">
                                <h3>Ingrese los datos solicidados uwu</h3>
                                <input placeholder="Nombre" type="text" style="margin: 3px" name="Nombre" id="Nombre" data-bind="value: newContacto.Nombre" class="form-control" />
                                <input placeholder="Numero" type="button" style="margin: 3px" name="Numero" id="Numero" data-bind="value: newContacto.Numero" class="form-control" />
                                <input placeholder="Direccion" type="text" style="margin: 3px" name="Direccion" id="Direccion" data-bind="value: newContacto.Direccion" class="form-control" />
                                <input placeholder="Correo" type="email" name="Correo" style="margin: 3px" id="Correo" data-bind="value: newContacto.Correo" class="form-control" />
                                <select class="form-control" style="margin: 3px" data-bind="value: newContacto.Categoria, options: categorias, optionsText: 'Nombre'"></select>
                                <button type="submit" class="btn btn-success" style="margin: 3px">Agregar</button>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-danger" data-bind="if: contactoCargado">
                        <div class="panel-heading">
                            <h2 class="panel-title">Editar</h2>
                        </div>
                        <div class="panel-body">
                            <form class="form-group" data-bind="submit: agregarContacto" >
                                <h3>Ingrese los datos solicidados uwu</h3>
                                <input placeholder="# (Contacto ID)" type="tel" style="margin: 3px" name="ContactoId" id="ContactoId" data-bind="value: contactoCargado.ContactoId" class="form-control" />
                                <input placeholder="Nombre" type="text" style="margin: 3px" name="Nombre" id="Nombre" data-bind="value: contactoCargado.Nombre" class="form-control" />
                                <input placeholder="Numero" type="button" style="margin: 3px" name="Numero" id="Numero" data-bind="value: contactoCargado.Numero" class="form-control" />
                                <input placeholder="Direccion" type="text" style="margin: 3px" name="Direccion" id="Direccion" data-bind="value: contactoCargado.Direccion" class="form-control" />
                                <input placeholder="Correo" type="email" name="Correo" style="margin: 3px" id="Correo" data-bind="value: contactoCargado.Correo" class="form-control" />
                                <select class="form-control" style="margin: 3px" data-bind="value: contactoCargado.Categoria, options: categorias, optionsText: 'Nombre'"></select>
                                <button type="submit" class="btn btn-success" style="margin: 3px">Agregar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="CategoriaTab" class="tab-pane fade">
            <div class="page-header">
                <h2>Categorias</h2>
            </div>
            <div class="row" id="mostrarCategorias">
                <div class="col-lg-10">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Aca se mostraran las categorias</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Categoria</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody id="table-categorias" data-bind="foreach: categorias">
                                    <tr>
                                        <td data-bind="text: CategoriaId"></td>
                                        <td data-bind="text: Nombre"></td>
                                        <td>
                                            <button class="btn btn-info" data-bind="click: $root.cargar">Editar</button>
                                            <button class="btn btn-warning" data-bind="click: $root.eliminar">Borrar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-primary" >Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Agregar Categoria-->
            <div class="panel panel-success" id="nueva-categoria" data-bind="ifnot: categoriaCargada">
                <div class="panel-heading">
                    <h3 class="panel-title">Nueva Categoria</h3>
                </div>
                <div class="panel-body">
                    <h4>Escriba los datos que se le piden c:</h4>
                    <form class="form-inline" data-bind="submit: agregar">
                        <input name="inputNombre" type="text" data-bind="value: newCategoria.Nombre" id="inputNombre" class="form-control" placeholder="Nombre" />
                        <button class="btn btn-success" type="submit">Agregar</button>
                    </form>
                </div>
            </div>


            <!--Editar Categoria-->
            <div class="panel panel-info" id="editar-categoria" data-bind="if: categoriaCargada">
                <div class="panel-heading">
                    <h3 class="panel-title">Editar Categoria</h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline" data-bind="submit: editar">
                        <input name="inputNombre" type="text" data-bind="value: categoriaCargada().CategoriaId" class="form-control" placeholder="# (ID Categoria)" />
                        <input name="inputNombre" type="text" data-bind="value: categoriaCargada().Nombre" class="form-control" placeholder="Nombre" />
                        <button class="btn btn-warning" type="submit">Guardar Datos</button>
                    </form>
                </div>
            </div>
            <!--Fin uwu-->
        </div>

    </div>
</div>













